<html lang="en">
<head>
  <title></title>
</head>
<body>
<div>
  <h1>Hi {{username}}!</h1>
  <span>Confirm your email: http://localhost:3000/auth/verify?id={{id}}&code={{token}}</span>
</div>
</body>
</html>